#xmlhttprequest-interceptor *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#xmlhttprequest-interceptor .interceptor-item{
    margin-bottom: 0.3rem !important;
}
#xmlhttprequest-interceptor .text-align-center{
    text-align: center;
}
#xmlhttprequest-interceptor .interceptors{
    padding: 0.5rem;
}
